
<!-- un partiel pour les fonctions de discretisation -->

<form>
	
<p> type de discretisation : <input type="text" id="typeDisc" value="monadic"/></p>
<p> classes : <input type="text" id="nbClasses" value="2"/></p>
<p> color 1#<input type="text" id="colorfield1" value="339900"/></p>
<p> color 2#<input type="text" id="colorfield2" value="339900"/></p>

</form>

<script type="text/javascript">
	new Control.ColorPicker("colorfield1");
	new Control.ColorPicker("colorfield2");

</script>
