<%= @debut_periode %>

<%
compt_annee = @debut_periode
@donnees_frise.each do |ligne|
%>
<%= ligne['annee'] %>
<%= compt_annee %>

<%
if ligne['annee'].to_i == compt_annee.to_i
%>

	<div
	style="overflow:hidden; position:relative;
	height:15px;
	width:<%= @long_annee %>px;
	background-color:#0000FF;
	float: left;
	text-align: center;">
	o
	</div>
	<% compt_annee = compt_annee + 1 %>
	
<% 	end %>


<% compt_annee = compt_annee + 1 %>
	
<% end %>

