<div style="background-color:#FFFFCC; border-style:solid;">
	<div style="float:left;">
	<img id="reference" src="/images/icones/reference.png" title="Dataset reference"/>&#160;&#160;
	</div>
	<%= auto_link(@citation) %>
</div>
<br/>