<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	    <link rel="stylesheet" type="text/css" href="/stylesheets/slider.css"/>

    <link rel="stylesheet" type="text/css" href="/stylesheets/carte.css"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/colorPicker.css"/>

	</head>
<body>	
<div id="volet_info">

	<div id="titre">
		<img src="/images/logo/logo_Peace_Prism.png" style="float: left;"/>
<h1>PEACE PRISM</h1>
	</div>
	<div id="selections">

		<div class="conteneur_icone">
			<img src="/images/icones/dataset.png" id="dataset_ico" title="Dataset"/>

		</div>
		<div id="block_for_select"> = <select id="datasets" name="datasets"><option value="0">Please choose a dataset</option>
<option value="1">National Material Capabilities</option>
<option value="2">Direct Continguity 3.1 Monadic Version</option>
<option value="3">Direct Continguity 3.1 Directed Dyad Version</option>
<option value="4">Single Greatest Level of Commitment Alliance</option>
<option value="5">Monadic System Membership List</option>
<option value="6" selected="selected">Polity IV 2004e</option>

<option value="7">Oneal and Russett Trade Data (9/2000) v1.0</option>
<option value="8">Barbieri Trade Data (Dyadic file) v1.1</option>
<option value="9">Barbieri Trade Data (National file) v1.1</option></select>
	

		</div>	
		<div id="liste_var" style="clear: both;"><div style="border-style: solid; background-color: rgb(255, 255, 204);">

	<div style="float: left;">
	<img id="reference" src="/images/icones/reference.png" title="Dataset reference"/>  
	</div>
	Marshall, Monty G. and Keith Jaggers. 2002. Polity IV Project: Political Regime Characteristics and Transitions, 1800-2002. <a href="http://www.cidcm.umd.edu/inscr/polity/index.htm">http://www.cidcm.umd.edu/inscr/polity/index.htm</a>.
</div>

<br/>

</div>

	</div>
</div>

<div>
Click on the links to convert and save this dataset in of those formats:
<table  cellspacing="6" cellpadding="6">
  <tbody>
    <tr>
      <td><center><img src='/images/icones/formats/csv.png' width=70px/><br/><a href="url">CSV</a> (comma separated, point as decimal separator)</center></td>
      <td><center><img src='/images/icones/formats/semicolumnpoint.png' width=70px/><br/><a href="url">text</a> (semi-column separated, point as decimal separator)</center></td>
      <td><center><img src='/images/icones/formats/semicolumncomma.png' width=70px/><br/><a href="url">text</a> (semi-column separated, comma as decimal separator)</center></td>
      <td><center><img src='/images/icones/formats/tabpoint.png' width=70px/><br/><a href="url">text</a> (tab separated, point as decimal separator)</center></td>
      <td><center><img src='/images/icones/formats/tabcomma.png' width=70px/><br/><a href="url">text</a> (tab separated, comma as decimal separator)</center></td>
      <td><center><img src='/images/icones/formats/fixedwidthformat.png' width=70px/><br/><a href="url">fixed width format</a></center></td>
    </tr>
    <tr>
      <td><center><img src='/images/icones/formats/xml.png' width=70px/><br/><a href="url">xml</a></center></td>
      <td><center><img src='/images/icones/formats/excel.gif' width=70px/><br/><a href="url">Excel</a> (97 or above)</center></td>
      <td><center><img src='/images/icones/formats/OOo3calc.png' width=70px/><br/><a href="url">OpenOffice.org calc</a> (2.0 or above)</center></td>
      <td><center><img src='/images/icones/formats/sas.png' width=80px/><br/><a href="url">SAS</a> (XPORT V7)</center></td>
      <td><center><img src='/images/icones/formats/sas.png' width=80px/><br/>SAS (<a href="url">script</a>* for SAS V6, <a href="url">data</a>)</center></td>
      <td><center><img src='/images/icones/formats/sas.png' width=80px/><br/>SAS (<a href="url">script</a>* for SAS V7, <a href="url">data</a>)</center></td>
    </tr>
    <tr>
      <td><center><img src='/images/icones/formats/spss.png' width=70px/><br/>SPSS (<a href="url">script</a>* and <a href="url">data</a>)</center></td>
      <td><center><img src='/images/icones/formats/stata.png' width=95px/><br/>STATA (<a href="url">script</a>* and <a href="url">data</a>)</center></td>
      <td><center><img src='/images/icones/formats/sqlite.gif' width=100px/><br/><a href="url">sqlite 3</a></center></td>
      <td><center><img src='/images/icones/formats/dbase.png' width=90px/><br/><a href="url">dBase</a></center></td>
      <td><center><img src='/images/icones/formats/latex.png' width=90px/><br/><a href="url">LaTeX</a></center></td>

		
     </tbody>
</table>

	
</div>	

<br/>
* Technical note: writing a separate file of instructions for the other package to read the data. 
<br/>Legal notice: dBase, Excel, SAS, SPSS and STATA are registered trademarks of their respective companies.

</body>

</html>