/* haut de page : titre et zone de selection (dataset et variable) */
#titre {
	/*
height: 50px;
*/
	}

.conteneur_icone{
	float:left;
}

#selections{
	 clear:both;
	 border:2px solid black;
	 background-color:#FFEEDD;
	 margin-top:5px;
	 margin-bottom:5px;
	 padding-left:10px;
	 padding-right:10px;
	 padding-top:5px;
	}

#block_for_select {
	/*float: left;*/
	/*position: relative;*/
	/*clear: both;*/
	/*padding: 0px;*/
	}


/* les icones de navigation et de controle de la carte */
#table_navig {
	background-color:#C3C3C3;
}

#film_play {
	cursor:pointer;
	}

#film_stop {
	cursor:pointer;	
}


img { /* pour empecher d'avoir un contour bleu quand l'image est dans un lien */
	border-width:0;
	border: none;
	}

#dataset_ico {padding-bottom: 0px}

/* carte */
#carte_navig {
	float:left;
	margin-bottom:30px;
}

.cadre_carte {
	float:left;
	border: 2px solid black;
	background-color:#B4DAF6;  /*bleu pale*/
	overflow: hidden;
	/*left:10px; */
	/*top: 10px; */
	width:600px; 
	height:300px;
	/*margin-right:5px;*/
}

.cadre_carte_rouge {
	border: 4px dashed red;
	overflow: hidden;
	background-color:#B4DAF6;  /*bleu pale*/
}
	
/* legende */
#cadre_legende {
	/*border: 1px solid black;*/
	margin-left:5px;
	}
	
.colorfields {
	width: 25px;
	margin-left: 10px;
	cursor:pointer;
	} 	
	
/* tableau donnees */
.tete_colonne {
	background-color:#D3D3D3; /* lightgrey */
	}

.ligne_en_cours {
	background-color:#F08080; /*lightcoral, rose */
	}

.tableau_donnees {
	clear:both;
	height: 300px; 
	width: 100%; 
	overflow: auto;
	}
