
#titre {
	height: 50px;
	}

/* volet navig */
#volet_navig {}

#navig {
	text-align: left;  
	background-color: white;
}

#navig_on_off {
	position: absolute; 
	top: -10px; 
	left: -10px;
	}

#film_play {
	}

#film_stop {	
}

#cadre_legende {

	border: 2px solid black;
}
/* carte */
.cadre_carte {
	float:left;
	border: 2px solid black;
	background-color:#B4DAF6; /* bleu pale */
	overflow: hidden;
	left:10px; 
	top: 10px; 
	width:600px; 
	height:300px;
	margin-bottom:30px;
	}

.cadre_carte_rouge {
	border: 4px dashed red;
	}
	
/* tableau donnees */
.tete_colonne {
	background-color:#D3D3D3; /* lightgrey */
	}

.ligne_en_cours {
	background-color:#F08080; /*lightcoral, rose */
	}

.tableau_donnees {
	clear:both;
	height: 300px; 
	width: 100%; 
	overflow: auto;
	}

	
.colorfields {
	width: 15px
} 