.date {
	float:left;
	/* width:40px;
	height:32px; */
	}

.fleche {
	position:relative;
	width:25px; 
	float:left;
	top:-7px;
	cursor:pointer;
	border-style:solid;
	background-color:#FFFF00;
	border-color:#FF0000;
	border-width:1px;
	font-weight:bold;
	font-size:large;
	}
div#slider_frise {
	float:left;
	/* width:700px; il est preferable que ce bloc s'adapte a la largeur des blocs qu'il contient */	
	/* height:100px; */
	}
div#slider {
	float:left;
	height:22px;
	/* width:600px; on va laisser la taille s'adapter aux objets contenus (le slider en lui meme) */
	}
	
#track_date {
	background-color:#aaa;
	/* width:600px;  doit etre de toute facon dans le code css en ligne dans le html*/
	height:10px;
	position:relative;
	top:0px;
	left:0px;
	z-index:1;
	cursor:pointer;
	}
	
.repere_slider {
	position:relative;
	float:left;
	top:-15px;
	background-color:#696969;
	height:5px; /*non lu par IE?*/
	z-index:0;	
	width:2px; 
	border-width:0px;
	}
	
.repere_slider_5ans {
	position:relative;
	float:left;
	top:-15px;
	background-color:red;
	height:20px;
	z-index:0;	
	width:2px; 
	}

.repere_slider_10ans {
	position:relative;
	float:left;
	top:-15px;
	background-color:red;
	height:20px;
	z-index:0;	
	width:2px;
	}
	

.espace_entre_reperes {
	position:relative;
	float:left;
	top:-17px;
	background-color:white;
	height:10px;
	z-index:0;	
	width:8px; 
}

	
	
	
#handle_date_debut {
	opacity:0.5;
	position:absolute;
	top:-5px;
	left:0px;	
	/*	width:10px;  doit etre de toute facon dans le code css en ligne dans le html*/
	height:20px;
	background-color:#f00;
	z-index:2;
	cursor:move;
	}

#info_date{
	 position:absolute; 
	 left:0px; 
	 top:-28px; /* position relative au dessus du curseur (taille curseur + taille texte) */
	 /*
	 background-color:#FFFF00;
	 border-style:solid;
	 border-color:#FF0000;
	 border-width:2px;
*/
	 z-index:2;
	}
div#frise {
	clear:both;
	/* width:600px; on va laisser la taille s'adapter aux objets contenus (la frise en elle-meme) */
	}

