<HTML xmlns="http://www.w3.org/1999/xhtml">
<head>
<%= javascript_include_tag "prototype" %>
</head>

<body>
<h1>Listing conflitsexts</h1>

<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100">
      <circle cx="15" cy="10" r="50" />
    </svg>
<table>
  <tr>
  <% for column in Conflitsext.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for conflitsext in @conflitsexts %>
  <tr>
<td>  <div id ="<%= conflitsext.ltlgrd %>" > texte   </div>
</td>
  <% for column in Conflitsext.content_columns %>
    <td><%=h conflitsext.send(column.name) %></td>
  <% end %>
  
<!--    <td><%= link_to_remote ('En gras', :update => conflitsext.ltlgrd, :url =>{ :action => :gras} ) %></td>
-->

    <td>    <a href="#" onclick="Element.remove('<%= conflitsext.ltlgrd %>'); return false;">enlever texte</a>
     <!--<%= link_to_function ('En gras', "$('#{conflitsext.ltlgrd}').style.fonts-size = '12pt'" ) %></td>
     -->
-     <a href="#" onclick="$('<%= conflitsext.ltlgrd %>').style.border = '1px solid red'" )>entourer</a>

 </td>
     
    <td><%= link_to_function('Enlever', "Element.remove($('#{conflitsext.ltlgrd}'))") %>
    </td>
    <td><%= link_to 'Show', :action => 'show', :id => conflitsext %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => conflitsext %></td>
    <td><%= link_to 'Destroy', { :action => 'destroy', :id => conflitsext }, :confirm => 'Are you sure?', :post => true %></td>

  </tr>
<% end %>
</table>

<%= link_to 'Previous page', { :page => @conflitsext_pages.current.previous } if @conflitsext_pages.current.previous %>
<%= link_to 'Next page', { :page => @conflitsext_pages.current.next } if @conflitsext_pages.current.next %> 

<br />

<%= link_to 'New conflitsext', :action => 'new' %>
</body>
</HTML>