




.cadre_carte {border: 2px solid black;}

.cadre_carte_rouge {border: 4px dashed red;}

.tete_colonne {background-color: lightgray;}

.ligne_en_cours {background-color: lightcoral;}

.tableau_donnees {height: 300px; width: 100%; overflow: auto;}
