<h1>New dataset_researcher</h1>

<%= error_messages_for :dataset_researcher %>

<% form_for(@dataset_researcher) do |f| %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', dataset_researchers_path %>
